// Variables
$website-width: 1000px;
$main-color: #ffbc00;
$light-main-color: #ffd766;
$dark-main-color: #b38400;

$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url('../img/pexels-eyad-bayan-257258-787581.jpg');
$mobile-bg-image: url('../img/pexels-pixels-elements-27756786.jpg');
$arrow-image: url('../img/arrow.png');
