@import 'config';
@import 'utilities';

$themes: (
  light: (
    text: #000,
    see-through-text: rgba(0, 0, 0, 0.7),
    bg: $lightest-main-color,
    bgarea: #fff,
    accent: $main-color,
    hover: $light-main-color,
    link: $dark-main-color,
    hero-overlay: rgba(255, 255, 255, 0.4),
    nav: rgba(244, 244, 244, 0.7),
    nav-links: #000,
    arrow: url('../assets/img/arrow_black.png'),
    banner-bg: rgba(255, 215, 102, 0.7),
    banner-text: rgba(0, 0, 0, 0.7),
    footer: $light-color,
  ),
  dark: (
    text: #fff,
    see-through-text: rgba(255, 255, 255, 0.7),
    bg: $dark-color,
    bgarea: $semi-dark-color,
    accent: $light-main-color,
    hover: $main-color,
    link: $main-color,
    hero-overlay: rgba(0, 0, 0, 0.4),
    nav: rgba(0, 0, 0, 0.7),
    nav-links: #fff,
    arrow: url('../assets/img/arrow_white.png'),
    banner-bg: rgba(255, 215, 102, 0.7),
    banner-text: rgba(0, 0, 0, 0.7),
    footer: #000,
  ),
);

// Light/Dark theme
$theme-map: ();
@mixin themify($themes) {
  @each $name, $values in $themes {
    .#{$name}-theme {
      $theme-map: $values !global;
      @content;
    }
  }
}
@function themed($key) {
  @return map-get($theme-map, $key);
}
