@import 'config';
@import 'utilities';

// General Styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Afacad Flux', sans-serif;
  line-height: 1.6;
  background: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $dark-color;
}

// ul {
//   list-style: none;
// }

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

@mixin animate($animation, $duration, $method, $times) {
  & {
    animation: $animation $duration $method $times;
  }
}
@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

// Navbar
#main-nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  #nav-content {
    display: flex;
    // flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;

    #logo {
      font-size: 80px;
      font-weight: 400;
      color: #fff;
      text-transform: uppercase;
      line-height: 1;
      padding: 0 1.5rem;
    }

    a {
      text-decoration: none;
      color: inherit;
      text-transform: uppercase;
      padding-bottom: 0.5rem;
      transition: border-color 0.5s;
      color: #fff;

      &:hover {
        color: $light-main-color;
      }
    }
    #nav-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 1rem;

      a {
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        padding: 1rem 1.5rem;

        &.drop {
          @include keyframes(drop) {
            0% {
              opacity: 1;
              color: #fff;
            }
            7.5% {
              transform: translateY(20px);
              opacity: 0.5;
              color: #fff;
            }
            15% {
              transform: translateY(40px);
              opacity: 0;
              color: #fff;
            }
            22.5% {
              transform: translateY(-40px);
              color: $main-color;
            }
            30% {
              opacity: 0.5;
              transform: translateY(-4px);
            }
            37.5% {
              opacity: 1;
            }
            45% {
              transform: translateY(4px);
              color: $main-color;
            }
            52.5% {
              transform: translateY(0);
              color: $main-color;
            }
            60% {
              transform: translateY(0);
              color: $main-color;
            }
            90% {
              transform: translateY(0);
              color: $main-color;
            }
            100% {
              color: #fff;
            }
          }
          @include animate(drop, 2s, linear, 1);
        }
      }
    }
  }
}

// Header
#main-header {
  position: relative;
  top: -6rem;
  left: 0;
  height: 100vh;

  #main-image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: $bg-image no-repeat center center / cover;
    z-index: -1;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  #home {
    padding-top: 35%;
    color: #fff;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.2;
    // padding: auto 1.5rem;
    //   z-index: 1;
  }

  // .hide {
  //   visibility: hidden;
  // }
}

// About Section
#about {
  a {
    color: $dark-main-color;
  }
  p {
    padding-bottom: 12px;
  }
}

// // Courses Section
// #courses {
// }


// // Details / Summary
// #summary {
//   .summary {
//     display: flex;
//     justify-content: space-between;
//   }
// }


// Contact Section
#contact {
  text-align: end;
  p {
    font-size: 1rem;
    letter-spacing: 0.2rem;
  }
}

// Footer
#main-footer {
  background: $dark-color;
  color: set-text-color($dark-color);
  height: 5rem;

  .container {
    padding-top: 1rem;
  }

  // .footer-content {
  //   display: flex;
  //   justify-content: center;
  //   height: 5rem;
  //   align-items: center;
  //   padding-top: 1rem;

  //   .social .fab {
  //     margin-right: 1rem;
  //     border: 2px #fff solid;
  //     border-radius: 50%;
  //     height: 20px;
  //     width: 20px;
  //     line-height: 20px;
  //     text-align: center;
  //     padding: 0.5rem;

  //     &:hover {
  //       background: $main-color;
  //     }
  //   }
  // }
}
