@import 'config';
@import 'utilities';

// General Styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Afacad Flux', sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

@mixin animate($animation, $duration, $method, $times) {
  & {
    animation: $animation $duration $method $times;
  }
}
@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

// Main Navbar
#main-nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  #nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-self: flex-start;
    padding-top: 1rem;
  }

  // Logo
  #logo {
    font-size: 80px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  ul {
    display: flex;
  }

  li {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    padding: 1rem 1.5rem;
    // transition: transform 0.8s ease-in-out, color 0.5s ease-in-out;
    &.drop {
      @include keyframes(drop) {
        0% {
          opacity: 1;
          color: #fff;
        }
        7.5% {
          transform: translateY(20px);
          opacity: 0.5;
          color: #fff;
        }
        15% {
          transform: translateY(40px);
          opacity: 0;
          color: #fff;
        }
        22.5% {
          transform: translateY(-40px);
          color: $main-color;
        }
        30% {
          opacity: 0.5;
          transform: translateY(-4px);
        }
        37.5% {
          opacity: 1;
        }
        45% {
          transform: translateY(4px);
          color: $main-color;
        }
        52.5% {
          transform: translateY(0);
          color: $main-color;
        }
        60% {
          transform: translateY(0);
          color: $main-color;
        }
        90% {
          transform: translateY(0);
          color: $main-color;
        }
        100% {
          color: #fff;
        }
      }
      @include animate(drop, 2s, linear, 1);
    }

    a {
      text-decoration: none;
      color: inherit;
      text-transform: uppercase;
      padding-bottom: 0.5rem;
      transition: border-color 0.5s;

      &:hover {
        color: $light-main-color;
      }
    }
  }
}

// Header
#header {
  &-home {
    position: relative;
    top: calc(-80px - 1rem);
    left: 0;
    right: 0;
    width: 100%;
    height: 63vh;
    background: $bg-image no-repeat center center / cover;
    color: #fff;
    padding-top: 35%;
    z-index: -1;

    h1 {
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.2;
    }

    .hide {
      visibility: hidden;
    }
  }
}

#about {
  margin-top: -50px;
  a {
    color: $dark-main-color;
  }
  p {
    padding-bottom: 12px;
  }
}

// #courses {
// }

// #contact {
//   p {
//     margin-left: 40px;

//   }
// }

// Footer
#main-footer {
  background: $dark-color;
  color: set-text-color($dark-color);
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    .social .fab {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background: $main-color;
      }
    }
  }
}
